<a href="https://colab.research.google.com/github/OoMyGit/Data-Mining/blob/main/%5BQuestion%5D_Exercise_Week_1(Questions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [18]:
# Nama
# a.
print("Hello, my name is Kwandy Chandra")

# b.
nama = "Kwandy Chandra"
print(f"Hello, my name is {nama}")

# c.
nama2 = "Kwandy Chandra"
print("Hello, my name is "+nama2)

# d.
nama3 = "Kwandy Chandra"
print("Hello, my name is {}".format(nama3))

Hello, my name is Kwandy Chandra
Hello, my name is Kwandy Chandra
Hello, my name is Kwandy Chandra
Hello, my name is Kwandy Chandra

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [8]:
# Soal a
jml_kotak = 4
isi_kotak = 15
teman = 12
kelereng_tmn = jml_kotak * isi_kotak / teman
print(kelereng_tmn)

# Soal b
print(8**(1/3))

# Soal c
uang = 50000
isi_paket = 100
harga = 7500
print (uang//harga)
print (uang%harga)

5.0
2.0
6
5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [10]:
# Konversi
no1 = "1000"
no1 = int(no1)
print(no1, type(no1))

no2 = "5"
no2 = int(no2)
print(no2, type(no2))

no3 = "5"
no3 = float(no3)
print(no3, type(no3))

no4 = "1000"
no4 = str(no4)
print(no4, type(no4))

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [11]:
# 1
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = text[20:31]
print(substring)

# 2
listkata = text.split()
print(listkata)

# 3
balik = text[::-1]
print(balik)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [16]:
# Fakultas
# 1
fakultas = ("IBM", "IMT", "HTB", "ISB", "BMI", "VCD", "CBz", "MED", "FTP", "ACC")

# 2
jumlah_fakultas = len(fakultas)
print(jumlah_fakultas)

# 3
index_isb = fakultas.index("ISB")
print(index_isb)

10
3

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [19]:
# 1
mkn_fav = ["steak", "sushi", "gelato"]

# 2
for mkn in mkn_fav:
    print(mkn)

# 3
for mkn in mkn_fav:
    print(f"Aku ingin pesan {mkn}")


# 4
mkn_fav[1] = "burgir"
print(f"Aku ingin mengganti pesananku jadi {mkn_fav[1]}")

steak
sushi
gelato
Aku ingin pesan steak
Aku ingin pesan sushi
Aku ingin pesan gelato
Aku ingin mengganti pesananku jadi burgir

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [21]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
union = set1.union(set2)
print(union)

# 3
no_intersect = set1.isdisjoint(set3)
print(no_intersect)

# 4
subset = set4.issubset(set1)
print(subset)

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [47]:
# Program Bayar Listrik
while True:
    user_input = input("Masukkan jumlah penggunaan listrik (kWh): ")

    if not user_input.isdigit():
        print("Error, angka tidak valid")
    else:
        user = int(user_input)

        if user < 100:
            user = 100

        if user < 1000:
            tarif = 1000 * user
        else:
            tarif = 2000 * user * 1.1

        print(f"Tarif yang harus dibayar: Rp{tarif}")
        break

Masukkan jumlah penggunaan listrik (kWh): 100
Tarif yang harus dibayar: Rp100000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [50]:
# Program Angkot Abdimas UC
while True:
    user_input = input("Masukkan jumlah orang : ")

    if int(user_input) < 0 :
        print("Error, Jumlah orang tidak bisa negatif!")
    else:
        user = int(user_input)

        if (user % 10) == 0:
            hasil = (user // 10)
        else:
            hasil = (user // 10) + 1

        print(f"Jumlah angkot yang diperlukan: {hasil}")
        break

Masukkan jumlah orang : 69
Jumlah angkot yang diperlukan: 7

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [58]:
import numpy as np

# 1
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])

In [59]:
# 2
hari.sort()

In [61]:
# 3
hari_pilihan = np.random.choice(hari)

print(f"Selamat hari {hari_pilihan} adalah hari baikmu bulan ini!")

Selamat hari Minggu adalah hari baikmu bulan ini!

In [63]:
# 4
matriks = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4:")
print(matriks)

Matriks 3x4:
[[4 2 2 6]
 [4 6 2 6]
 [5 3 6 4]]

In [56]:
# 5
matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga:")
print(kolom_ketiga)

Elemen kolom ketiga:
[ 3  7 11]

In [57]:
# 6
matriks_reshape = matriks.reshape(2, 6)
print("Matriks setelah reshape menjadi (2, 6):")
print(matriks_reshape)

Matriks setelah reshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [69]:
import pandas as pd

# 1
data_list = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_list)

print("Pandas Series: ")
print(series)

print()
# 2
data_dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
data_frame = pd.DataFrame([data_dict])

print("Pandas DataFrame:")
print(data_frame)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [75]:
# 3
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls'

df = pd.read_csv(url)

df.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [76]:
# 4
print(df['State'].unique())

['New York' 'California' 'Florida']

In [82]:
# 5
df_random = df.sample(n=10)

print(df_random.head())

    R&D Spend  Administration  Marketing Spend       State     Profit
11  100671.96        91790.61        249744.55  California  144259.40
0   165349.20       136897.80        471784.10    New York  192261.83
33   55493.95       103057.49        214634.81     Florida   96778.92
16   78013.11       121597.55        264346.06  California  126992.93
34   46426.07       157693.92        210797.67  California   96712.80

In [78]:
# 6
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [80]:
# 7
df_california = df[df['State'] == 'California']
print(df_california[['R&D Spend', 'Marketing Spend']])

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [81]:
# 8
print(df.isnull().sum())

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
# 9
df_filtered = df[df['Profit'] >= 50000]
print(df_filtered.head())

In [ ]:
# 10
df_sorted = df_filtered.sort_values(by='Marketing Spend', ascending=False)
print(df_sorted.head())

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [83]:
# 1

url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv'

df = pd.read_csv(url)

print(df.head())

   No  X1 transaction date  X2 house age  \
0   1             2012.917          32.0
1   2             2012.917          19.5
2   3             2013.583          13.3
3   4             2013.500          13.3
4   5             2012.833           5.0

   X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                84.87882                               10
1                               306.59470                                9
2                               561.98450                                5
3                               561.98450                                5
4                               390.56840                                5

   X5 latitude  X6 longitude  Y house price of unit area
0     24.98298     121.54024                        37.9
1     24.98034     121.53951                        42.2
2     24.98746     121.54391                        47.3
3     24.98746     121.54391                        54.8
4     24.97937     121.54245                        43.1

In [84]:
# 2
print(df.sample(n=10, random_state=1))

      No  X1 transaction date  X2 house age  \
388  389             2013.500          10.4
102  103             2013.083           1.1
187  188             2013.000           8.9
162  163             2012.750          16.0
90    91             2012.833           0.0
398  399             2013.417          14.7
295  296             2013.167          18.2
397  398             2013.417          13.1
17    18             2012.750          17.7
58    59             2013.500          30.3

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
388                               2251.9380                                4
102                                193.5845                                6
187                               3078.1760                                0
162                               4066.5870                                0
90                                 274.0144                                1
398                               1717.1930                                2
295                               2179.5900                                3
397                               1164.8380                                4
17                                 350.8515                                1
58                                4510.3590                                1

     X5 latitude  X6 longitude  Y house price of unit area
388     24.95957     121.51353                        27.3
102     24.96571     121.54089                        54.4
187     24.95464     121.56627                        22.0
162     24.94297     121.50342                        11.6
90      24.97480     121.53059                        45.4
398     24.96447     121.51649                        23.0
295     24.96299     121.51252                        21.8
397     24.99156     121.53406                        32.2
17      24.97544     121.53119                        37.4
58      24.94925     121.49542                        22.6

In [85]:
# 3
print(df.describe())

               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [86]:
# 4
df = df.drop(columns=['No'])

df.columns = ['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station',
              'number_of_convinience_stores', 'latitude', 'longitude',
              'house_price_of_unit_area']

print(df.head())

   transaction_date  house_age  distance_to_the_nearest_MRT_station  \
0          2012.917       32.0                             84.87882
1          2012.917       19.5                            306.59470
2          2013.583       13.3                            561.98450
3          2013.500       13.3                            561.98450
4          2012.833        5.0                            390.56840

   number_of_convinience_stores  latitude  longitude  house_price_of_unit_area
0                            10  24.98298  121.54024                      37.9
1                             9  24.98034  121.53951                      42.2
2                             5  24.98746  121.54391                      47.3
3                             5  24.98746  121.54391                      54.8
4                             5  24.97937  121.54245                      43.1

In [87]:
# 5
print(df.isnull().sum())

transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64